---

{% if rke2_etcd_datastore and (rke2_control_node is defined and rke2_control_node) and (rke2_primary_control_node is defined and rke2_primary_control_node) %}
cluster-init: true
{% endif %}
{% if rke2_runtime_config is defined and rke2_runtime_config | length > 0 %}
{{ rke2_runtime_config | to_nice_yaml(indent=2) }}
{% endif %}
